$txt_color_blue: #396284; 
$txt_color_dark: #757575;
$icon_color_contacts: #333333;
$btn_color_green: #489220;
$btn_green_hover: #3a751a;
$standart_white: #fff;
$standart_white_alpha: rgba(255, 255, 255, 1);
$industry_white_alpha: rgba(255, 255, 255, 0.9);
$standart_black: #000;
$search_border_color: #ced4da;
$search_form_text: #555;
$search_form_text_plch: rgba(84, 84, 84, 0.6);
$search_btn_color: #396284;
$search_btn_hover: rgba(57, 98, 132, 0.9);
$section_news_background: #f2f3f5;

$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$color_grey_borders: #d4d4d4;
$color_sponsors_bg: #eaeaea;