.header-section-main{
    //min-width: 100%;
    background-image: url("../img/welcome-page/banner_2.jpg");
    min-height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;;
    //opacity: 0.9;
    } 