.news-mp {
    background-color: $section_news_background;
    padding-bottom: 30px;
    
}



.section-mp-header{
    padding-top: 60px;
    text-align: center;
    
    span {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 400;
        color: $txt_color_dark;
    }
}
.sec-mp-header-logo {
    width: 40px;
    height: 46px;
    margin: auto;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover; 
    }
    
}

//CARD
  .grid-mp-news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
    margin-top: 30px;
    padding: 15px 10px 30px 10px;
  }
  
  .grid-mp-news > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    background:white;
    em{
        display: block;
        border-bottom: 1px solid $color_grey;
        font-size: 13px;
        color: $color_grey_dark;
        margin-bottom: 10px;
        padding-bottom: 5px;
        
    }
    a{
        &:hover{
            text-decoration-color: $txt_color_blue;
        }
    }
   
  }

  .card-img-wrapper {
    position: relative;
    margin-top: 11px;
    width: 100%;
    height: 220px;
  }
  
  .grid-mp-news > article img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .grid-mp-news .card-news-title {
    padding: 10px 20px;
    margin-bottom: 10px;
    span {
    text-transform: uppercase;
    color: $txt_color_blue;
    font-weight: 500;
    font-size: 14px;
    }
    
  }
  .pagination {
    justify-content: center;
    font-size: 16px;
    //margin-top: 5px;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  .news-container-wrapper{
    //background: white;
    padding-bottom: 5px;
    //padding-top: 1px;
  }

  // ALL NEWS BTN
  .all-news-btn{
    position: relative;
    width: 190px;
    height: 33px;
    background-color: $search_btn_color;
    margin: auto;
    margin-top: 20px;
    padding-top: 6px;
    
    &:hover{
        background-color: $search_btn_hover;
    }
    a{
        
        position: absolute;
        display: block;
        text-align:center;
        width: 100%;
        height: 100%;
        color: $standart_white;
        text-transform: uppercase;
        margin: 0;
        &:hover{
            text-decoration: none;
        }
    }
    
  }
//MEDIA
  @media (max-width: 1199px){
    .card-img-wrapper {
      height: 180px;
    }
  
  }


  @media (max-width: 991px){
    .card-img-wrapper {
      height: 198px;
    }
    .grid-mp-news .card-news-title span {
      font-size: 12px;
    }
    
  }


  @media (max-width: 767px){
    .card-img-wrapper {
      height: 265px;
    }
    .grid-mp-news {
      padding: 15px 40px 30px 40px;
  }

  .grid-mp-news>article em {
    font-size: 11px;
  }
    
  }
  @media (max-width: 575px){
    .card-img-wrapper {
      height: 280px;
    }
  }
  @media (max-width: 550px){
    .card-img-wrapper {
      height: 259px;
    }
  }
  @media (max-width: 520px){
    .card-img-wrapper {
      height: 247px;
    }
  }
  @media (max-width: 500px){
    .card-img-wrapper {
      height: 230px;
    }
    .grid-mp-news .card-news-title span {
      font-size: 11px;
    }
  }
  @media (max-width: 480px){
    .card-img-wrapper {
      height: 220px;
    }
    .grid-mp-news .card-news-title span {
      font-size: 10px;
    }
    .grid-mp-news>article em {
      font-size: 9px;
    }
  }
  @media (max-width: 470px){
    .card-img-wrapper {
      height: 228px;
    }
    .grid-mp-news {
      padding: 15px 20px 30px 20px;
  }
   
  }
  @media (max-width: 435px){
    .card-img-wrapper {
      height: 225px;
    }
    .grid-mp-news {
      padding: 15px 10px 30px 10px;
  }
   
  }
  @media (max-width: 415px){
    .card-img-wrapper {
      height: 224px;
    }
    .grid-mp-news {
      padding: 15px 0px 30px 0px;
  }
   
  }
  @media (max-width: 390px){
    .card-img-wrapper {
      height: 209px;
    }
   
  }

  