    <div class="footer_top">
        <div class="container">
           <div class="row">
              <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 text-center">
                 <div class="footer_first_widget">
                    <div class="footer_logo">
                       <img class="img-logo" src="img/main-page/logo.png" alt="B2B logo">
                    </div>
                    <div class="seperator-logo">

                    </div>
                    <div class="footer_follow">
                       <h4 id="subs-text" class="follow_title">Подписки</h4>
                       <ul class="footer_social_icons">
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12">
                 <div class="footer_second_widget">
                    <h3 class="footer_title" id="ftitle" >О портале B2B</h3>
                    <ul class="footer_lists_map">
                        <li><a href="faq.html">ЧАВО</a></li>
                        <li><a href="about.html">О площадке B2B</a></li>
                        <li><a href="terms.html">Правила пользования</a></li>
                     </ul>
                 </div>
              </div>
              <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12">
                 <div class="footer_third_widget">
                    <h3 class="footer_title" id="ftitlemap">Карта Сайта</h3>
                    <ul class="footer_lists_map">
                        <li><a href="main.html">Главная</a></li>
                        <li><a href="news.html">Новости</a></li>
                        <li><a href="companies.html">Компании</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12">
                 <div class="footer_forth_widget">
                    <h3 class="footer_title" id="fnewssubs">Новостная Рассылка</h3>
                    <form id="newsLetterForm">
                       <div class="subscribe_box" >
                          <p id="newssubsdescr">Подпишитесь на нашу рассылку чтобы вы могли получать свежие новости от портала B2B</p>
                          <div class="input_wrap">
                             <input id="newsLetterEmailTextBox" name="email" placeholder="Введите ваш email" type="email" required="">
                             <i class="fa fa-envelope"></i>
                          </div>
                          <div>
                             <input name="subscribeToNewLetterButton" value="Подписаться" type="submit" id="subscribeToNewLetterButton"> 
                         </div>
                          <div id="newsLetterFormError" class="alert alert-danger" style="margin-top:3px;margin-bottom:3px;display:none" role="alert">
                             <button type="button" class="close" id="closeButton"> 
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span> 
                             </button>
                             <p id="newsLetterFormErrorMessage"></p>
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="footer_copyright">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                 <p class="copyright">© Business to Business, 2020</p>
              </div>
           </div>
        </div>
     </div>