
<div class="header-wrapper">
    <div class="contacts-info">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="contacts-wrapper">
            <div class="contacts-icon">
                <i class="fa fa-fax"></i> 
            </div> 
            <a href="#" class="header-text">+992 37 221 87 32</a> 
        </div>
        <div class="contacts-wrapper">
            <div class="contacts-icon">
                <i class="fa fa-envelope-o"></i> 
            </div> 
            <a href="#" class="header-text">info@b2b.tj</a> 
        </div>
    </div>
    <div class="lang-info">
        <div class="sign-wrapper">
            <div class="contacts-icon">
                <i class="fa fa-user-plus"></i> 
            </div> 
            <a class="header-text" id="signuptop" data-modal="compreg" href="#"></a> 
        </div>
        <div class="sign-wrapper">
            <div class="contacts-icon">
                <i class="fa fa-sign-in"></i> 
            </div> 
            <a class="header-text trigger-btn" id="logintop" href="#myModal" data-toggle="modal"></a> 
        </div>
        <div class="lang-choose">
            <a class="lang-mp-icon" data-lang="tj" href="#"> <img src="img/main-page/tg.png" alt=""> </a>
            <a class="lang-mp-icon" data-lang="en" href="#"> <img src="img/main-page/en.png" alt=""> </a>
            <a class="lang-mp-icon" data-lang="ru" href="#"> <img src="img/main-page/ru.png" alt=""> </a>
        </div>
    </div>
</div>
