
    <ul class="menu-mp">
        <li class="menu-mp-link"> <a href="main.html" class="item-mp-link"></a> </li>
        <li class="menu-mp-link"> <a href="news.html" class="item-mp-link"></a> </li>
        <li class="menu-mp-link"> <a href="companies.html" class="item-mp-link"></a> </li>
        <li class="menu-mp-link"> <a href="investmentprojects.html" class="item-mp-link"></a> </li>
        <li class="menu-mp-link"> <a href="businessguide.html" class="item-mp-link"></a> </li>
        <li class="menu-mp-link"> <a href="articles.html" class="item-mp-link"></a> </li>
        <li class="menu-mp-link"> <a href="contacts.html" class="item-mp-link"></a> </li>
    </ul>
